<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="bootstrap.php"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="true">
	
	<testsuites>
		<testsuite name="osx">
			<file>tests/TheFox/Test/Osx/BinaryTest.php</file>
			<file>tests/TheFox/Test/Osx/LoadCommandEntryPointTest.php</file>
			<file>tests/TheFox/Test/Osx/LoadCommandSegmentTest.php</file>
			<file>tests/TheFox/Test/Osx/LoadCommandTest.php</file>
			<file>tests/TheFox/Test/Osx/LoadSectionTest.php</file>
			<file>tests/TheFox/Test/Osx/MachOTest.php</file>
		</testsuite>
		<testsuite name="linux">
			<file>tests/TheFox/Test/Linux/BinaryTest.php</file>
			<file>tests/TheFox/Test/Linux/LoadCommandEntryPointTest.php</file>
			<file>tests/TheFox/Test/Linux/LoadCommandSegmentTest.php</file>
			<file>tests/TheFox/Test/Linux/LoadCommandTest.php</file>
			<file>tests/TheFox/Test/Linux/LoadSectionTest.php</file>
			<file>tests/TheFox/Test/Linux/MachOTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
